/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf_G8sNjDowSXGEWUtzTDCLa2_IFz3g1-gqw&usqp=CAU');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }